<a href="https://colab.research.google.com/github/mansi1045/DOLABEXAM-ODD/blob/main/ODD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
df = pd.read_excel("/content/Untitled spreadsheet.xlsx")

In [8]:
print("Column Names:", df.columns.tolist())

Column Names: ['Booking_ID', 'Customer_ID', 'Destination', 'Travel_Dates', 'Booking_Date', 'Number_of_Travelers', 'Travel_Package', 'Payment_Method', 'Total_Cost', 'Travel_Agent', 'Customer_Feedback']

In [10]:
df.columns = df.columns.str.strip()

In [11]:
avg_cost_per_package = df.groupby("Travel_Package")["Total_Cost"].mean()
print("\nAverage Total Cost per Travel Package:")
print(avg_cost_per_package)

Average Total Cost per Travel Package:
Travel_Package
Luxury      53732.465158
Premium     51603.118568
Standard    52588.036084
Name: Total_Cost, dtype: float64

In [16]:
df["Travel_Dates"] = pd.to_datetime(df["Travel_Dates"], errors="coerce")
earliest_travel_date = df["Travel_Dates"].min()
latest_travel_date = df["Travel_Dates"].max()
print("\nEarliest Travel Date:", earliest_travel_date)
print("Latest Travel Date:", latest_travel_date)

Earliest Travel Date: 2023-08-20 20:25:00-02:00
Latest Travel Date: 2024-08-16 20:25:00-02:00

In [13]:
unique_destinations = df["Destination"].nunique()
print("\nNumber of Unique Destinations:", unique_destinations)

Number of Unique Destinations: 858

In [17]:
range1 = str(earliest_travel_date.date()) + " to " + str(latest_travel_date.date())
print("\nDate Range:", range1)

Date Range: 2023-08-20 to 2024-08-16

In [15]:
date_formats_consistent = df["Travel_Dates"].notna().all()
print("\nDate Format Consistency:", date_formats_consistent)

Date Format Consistency: False